<div>
  {% for entry in entries %}
    <div class="card-text font-weight-light mt-2 pt-2" {% unless forloop.first %}style="border-top: 1px solid rgba(0,0,0,.125);"{% endunless %}>
      <div class="row">
        <div class="col-sm-3">
          <p class="font-weight-light">
            {{ entry.start_date | default: "" }}{% if entry.end_date %} - {{ entry.end_date }}{% endif %}
          </p>
        </div>
        <div class="col-sm-9">
          <h6 class="font-weight-bold">{{ entry.name }}</h6>
          {% if entry.level %}<h6>{{ entry.level }}</h6>{% endif %}
          {% if entry.role %}<h6>{{ entry.role }}</h6>{% endif %}
          {% if entry.location %}<p class="font-weight-light">{{ entry.location }}</p>{% endif %}
          {% if entry.project_title %}<p class="font-weight-light"><em>{{ entry.project_title }}</em></p>{% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>